*{
	margin: 0;
	padding: 0;
	font-family: arial;
	box-sizing: border-box;
}

.services_wrapper, .wrapper{
	width: 1600px;
	height: auto;
	margin: 0 auto;
}

.logo{
	color: black;
	font-weight: bold;
	font-size: 3em;
	width: 18%;
	height: auto;
	float: left;
	margin: 16px 0 0 126px;
}

.italic_me{
	font-style: italic;
	color: #4db1e2;
		
}
.heading_nav_wrapper{
	width: 100%;
	height: 88px;
}

.heading_nav_wrapper ul{
	width: 63%;
	height: auto;
	float: right;
	margin: 32px 0 0 0;
}

.heading_nav_wrapper ul li{
	display: inline-block;
}

.heading_nav_wrapper ul li a{
	text-decoration: none;
	color: #000000;
	padding: 15px 18px;
	font-size: 1.1em;	
}

.heading_nav_wrapper ul li a:hover{
	background-color: #4db1e2;
	color: #ffffff;
}

.me_blue{
	background-color: #4db1e2 !important;
	color: #ffffff !important;
	/*border-bottom: 3px solid #cf6b50;*/
}

.banner_wrapper{
	width: 100%;
	height: 400px;
	background-image: url(images/main_banner.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
	border-left: 3px solid #4db1e2;
}

.main_shout_wrapper{
	width: 40%;
	height: 400px;
	color: grey;
	margin: 20px 0 0 125px;
	padding: 89px 0 0 0;
}

.main_shout_wrapper span{
	font-size: 3em;
    line-height: 1;
    
}

.main_shout_wrapper p{
	font-size: 1.3em;
    margin: 20px 0 0 0;
    line-height: 1.4;
}

.main_shout_wrapper button{
	color: #ffffff;
    font-weight: bold;
    background: #4db1e2;
    padding: 15px 30px;
	border: 3px solid transparent;
	margin: 30px 0 0 0;
}

.main_shout_wrapper button:hover{
	color: #4db1e2;
	background: #ffffff;
	cursor: pointer;
	border: 3px solid #4db1e2;
}

.pre_services_wrapper{
	width: 1372px;
	height: 350px;
	margin: -44px auto 0 auto;
	color: #ffffff;
	opacity: .9;
}

.pre_service_4_wrapper{
	width: 24.5%;
    height: 100%;
    background-color: #0d82bb;
    display: inline-block;
    text-align: center;
    padding: 0 42px;
    margin: 0 0 0 0;
}

.even_background{
	background-color: #4db1e2 !important;
}

.svg_container{
	width: 100%;
	height: 112px;	
}

.heart{
	background-image: url(images/heart.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
	background-size: 100px;
	margin: 0 0 20px 0;
}

.binker{
	background-image: url(images/binker.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
	background-size: 100px;
	margin: 0 0 20px 0;
}

.stethoscope{
	background-image: url(images/stethoscope.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
	background-size: 100px;
	margin: 0 0 20px 0;
}

.chat{
	background-image: url(images/chat.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
	background-size: 100px;
	margin: 0 0 20px 0;
}

.pre_service_4_wrapper h3{
	margin: 0 0 10px 0;
}

.pre_service_4_wrapper p{
	margin: 0 0 25px 0;
	line-height: 1.4;
}

.pre_service_4_wrapper button{
	font-size: 4em;
    font-weight: bold;
    padding: 0px 17px;
    color: #ffffff;
    background: #4db1e2;
    border: 5px solid #ffffff;
}
.reserve_consultation_wrapper{
	width: 86%;
	height: 82px;
	margin: 0 auto 0 auto;
	background: #e8e8e8;
	color: #424141;
	border-left: 3px solid #4db1e2;
}

.reserve_consultation_wrapper p{
	width: 50%;
    float: left;
    margin: 30px 0 0 25px;
}

.reserve_consultation_wrapper button{
	background-color: #4db1e2;
    color: #ffffff;
    border: 3px solid transparent;
    padding: 15px 20px;
    font-weight: bold;
    float: right;
    margin: 18px 46px 0 0;
}

.reserve_consultation_wrapper button:hover{
	color: #4db1e2;
	background: #ffffff;
	cursor: pointer;
	border: 3px solid #4db1e2;
}

.services_wrapper{
	width: 88%;
	height: 368px;
	margin: 30px auto 0 auto;
}

.services_wrapper .service_4_wrapper{
	width: 22%;
	height: 86%;
	display: inline-block;
	margin: 0 1.5%;
	float: left;
	border-bottom: 5px solid #4db1e2;
}

.services_wrapper .service_4_wrapper img{
	width: 100%;
	height: auto;
}

.services_wrapper .service_4_wrapper h3{
	display: block;
	text-align: center;
	font-weight: 400;
	margin: 20px 0 0 0;
	color: #4db1e2;
}

.services_wrapper .service_4_wrapper span{
    color: grey;
    display: block;
	text-align: center;
	margin: 4px 0 0 0;
	font-size: .9em;
}

.sub_services_wrapper{
	width: 1369px;
	height: 284px;
	margin: 30px auto 0 auto;	
}

.sub_four_wrapper{
	width: 49%;
	height: 126px;
	padding: 0 0 0 0;
	border-bottom: 1px solid grey;
	margin: 0 1% 25px 0;
	float: left;
}

.sub_images{
	width: 100px;
	height: 100px;
	background-color: #4db1e2;
	float: left;
	margin: 0 20px 0 0;
}

.sub_four_wrapper h2{
	color: #4db1e2;
	font-weight: 400;
}

.sub_four_wrapper p{
	padding: 0 20px 0 0;
	color: grey;
	line-height: 1.5;
}

.transplant{
	background-image: url(images/transplant.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
	background-size: 70px;
}

.doctors{
	background-image: url(images/doctor.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
	background-size: 70px;
}

.clock{
	background-image: url(images/clock.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
	background-size: 70px;
}

.emergency{
	background-image: url(images/emergency.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
	background-size: 70px;
}

.our_docs{
	display: block;
    margin: 20px 0 0 110px;
    border-left: 3px solid #4db1e2;
    padding: 0 0 0 8px;
    font-size: 1.3em;
    color: grey;
}

.departments_med_app_container{
	width: 86%;
	height: 400px;
	margin: 80px auto 0 auto;
}


.departments_wrapper{
	width: 34%;
	float: left;
}

.departments_wrapper span{
	display: block;
	border-left: 3px solid #4db1e2;
	font-size: 1.4em;
	color: #424141;
	padding: 0 0 0 7px;
	margin: 0 0 20px 0;	
}

.mini_department_wrapper{
	border: 1px solid grey;
}

.mini_department_wrapper h2{
	width: 100%;
	color: grey;
	font-weight: 400;
	font-size: 1.1em;
	border-bottom: 1px solid grey;
	height: 40px;
	padding: 10px;
	background-image: url(./images/down_arrow.svg);
    background-position: 96% 7px;
    background-repeat: no-repeat;
    background-size: 26px;
    margin: 0 0 5px 0;
}

.medical_services_wrapper{
	width: 31%;
	float: left;
    margin: 0 0 0 4%;
}


.medical_services_wrapper div.mini_department_wrapper{
	border: none;
}
.medical_services_wrapper span{
	display: block;
	border-left: 3px solid #4db1e2;
	font-size: 1.4em;
	color: #424141;
	padding: 2px 0 0 7px;
	margin: 0 0 20px 0;	
}


.medical_services_wrapper div.mini_department_wrapper h2{
	width: 100%;
	color: grey;
	font-weight: 400;
	font-size: 1.1em;
	height: 25px;
	padding: 0 0 0 30px;
    background-image: url(./images/checkbox.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 25px;
	margin: 0 0 5px 0;
	border: none;
}

.appointment_wrapper{
	width: 30%;
	height: auto;
	display: inline-block;
}

.appointment_wrapper span{
	display: block;
	border-left: 3px solid #4db1e2;
	font-size: 1.4em;
	color: #424141;
	padding: 2px 0 0 7px;
	margin: 0 0 20px 0;	
}

.appointment_wrapper input{
	width: 100%;
    height: 43px;
    color: grey;
    font-size: 1.1em;
    padding: 0 0 0 14px;
}

.appointment_wrapper textarea{
	width: 100%;
	height: 106px;
	color: grey;
    font-size: 1.1em;
    padding: 5px 0 0 14px;
}

.border_out{
	border-bottom: none !important;
	height: 36px !important;
}

@media only screen and (max-width: 1600px){
	.wrapper{
		width: 1360px;
	}
	
	.banner_wrapper{
		height: 331px;
		background-size: 1360px;
	}
	.logo{
		margin: 16px 0 0 15px;	
	}
	
	.heading_nav_wrapper ul{
		width: 68%;
	}
	
	.main_shout_wrapper{
		margin: 20px 0 0 20px;
		padding: 32px 0 0 0;
	}
	
	.pre_services_wrapper{
		width: 90%;
	}
	
	.sub_services_wrapper{
		width: 90%;
	}
}

@media only screen and (max-width: 1375px){
	.wrapper{
		width: 1224px;
	}
	
	.banner_wrapper{
		height: 271px;
		background-size: 1224px;
	}
		
	.heading_nav_wrapper ul{
		width: 75%;
	}
	
	.main_shout_wrapper{
		margin: 0 0 0 20px;
		padding: 0;
	}
}

@media only screen and (max-width: 1200px){
	.wrapper{
		width: 1064px;
	}
	
	.banner_wrapper{
		height: 271px;
		background-size: 1224px;
	}
		
	.logo{
		margin: 16px 0 0 2px;	
	}
	.heading_nav_wrapper ul{
		width: 78%;
	}
	
	.heading_nav_wrapper ul li a{
		padding: 8px 8px;
		font-size: 1.1em;
	}
	
	.main_shout_wrapper{
		margin: 0 0 0 20px;
		padding: 4px 0 0 0;
	}
	
	.main_shout_wrapper span {
		font-size: 2em;
		line-height: 1;
	}
	
	.sub_four_wrapper p {
		padding: 0;
		line-height: 1.2;
		font-size: .9em;
	}
	
	.sub_four_wrapper h2 {
		font-size: 1.2em;
	}
	
	.sub_images {
		width: 90px;
		height: 90px;
	}
	
	.our_docs{
		margin: 20px 0 0 51px;
	}
	
	.services_wrapper{
		width: 94%;
		height: 291px;
	}
	
	.reserve_consultation_wrapper{
		width: 92%;
	}
	
	.heart, .binker, .stethoscope, .chat{
		margin: 0;
	}
	
	.pre_services_wrapper {
        height: 260px;    
	}
	.pre_service_4_wrapper{
		height: 255px;
	}
	.pre_service_4_wrapper p {
		margin: 0 0 7px 0;
		line-height: 1.2;
		font-size: .9em;
	}
	
	.pre_service_4_wrapper button {
		font-size: 2em;
		padding: 0px 12px;	
	}
}

@media only screen and (max-width: 1050px){
	.wrapper{
		width: 950px;
	}
	
	.banner_wrapper{
		height: 225px;
		background-size: 950px;
	}
		
	.logo{
		font-size: 2em;
		margin: 10px 0 0 22px;
	}
	.heading_nav_wrapper ul{
		width: 78%;
		margin: 19px 0 0 0;
	}
	
	.heading_nav_wrapper ul li a{
		padding: 8px 8px;
		font-size: 1.1em;
	}
	
	.main_shout_wrapper{
		margin: 0 0 0 25px;
		padding: 4px 0 0 0;
	}
	
	.main_shout_wrapper span {
		font-size: 2em;
		line-height: 1;
	}
	
	.main_shout_wrapper button{
		margin: 5px 0 0 0;
	}
	
	.sub_four_wrapper p {
		padding: 0;
		line-height: 1.2;
		font-size: .9em;
	}
	
	.sub_four_wrapper h2 {
		font-size: 1.2em;
	}
	
	.sub_images {
		width: 90px;
		height: 90px;
	}
	
	.our_docs{
		margin: 20px 0 0 51px;
	}
	
	.services_wrapper{
		width: 94%;
		height: 291px;
	}
	
	.reserve_consultation_wrapper{
		width: 92%;
	}
	
	.heart, .binker, .stethoscope, .chat{
		background-size: 70px;
	}
	
	.svg_container{
	    height: 76px;	
	}
	
	.pre_services_wrapper {
        height: 260px;
		width: 94%;
	}
	.pre_service_4_wrapper{
		height: 255px;
	}
	
	.pre_service_4_wrapper h3 {
		margin: 0 0 10px 0;
		font-size: 1em;
		width: 100%;
	}
	.pre_service_4_wrapper p {
		margin: 0 0 7px 0;
		line-height: 1.2;
		font-size: .9em;
	}
	
	.pre_service_4_wrapper button {
		font-size: 2em;
		padding: 0px 12px;	
	}
}

@media only screen and (max-width: 1000px){
	.wrapper{
		width: 800px;
	}
	
	.banner_wrapper{
		height: 200px;
		background-image: url(images/main_banner_800_by_200.png);
		border-left: none;
	}
		
	.logo{
		font-size: 2em;
		margin: 10px 0 0 2px;
	}
	
	.heading_nav_wrapper {
		width: 100%;
		height: 62px;
	}
	.heading_nav_wrapper ul{
		width: 76%;
		margin: 19px 0 0 0;
	}
	
	.heading_nav_wrapper ul li a{
		padding: 4px 5px;
		font-size: 1em;
	}
	
	.main_shout_wrapper{
		margin: 0 0 0 5px;
		padding: 4px 0 0 0;
	}
	
	.main_shout_wrapper p{
		margin: 8px 0 0 0;
	}
	.main_shout_wrapper span {
		font-size: 2em;
		line-height: 1;
	}
	
	.main_shout_wrapper button{
		margin: 5px 0 0 0;
	}
	
	.sub_four_wrapper p {
		padding: 0;
		line-height: 1.2;
		font-size: .9em;
	}
	
	.sub_four_wrapper h2 {
		font-size: 1.2em;
	}
	
	.sub_images {
		width: 58px;
		height: 58px;
	}
	
	.transplant, .doctors, .clock, .emergency{
		background-size: 50px;
	}
	
	.sub_services_wrapper {
		width: 99%;
	}
	
	.sub_four_wrapper {
		width: 100%;
		height: 78px;
		padding: 0;
	}
	.our_docs{
		margin: 134px 0 0 4px;
		height: 20px;
	}
	
	.services_wrapper{
		width: 99%;
		height: 326px;
		margin: 10px 0 20px 0 !important;
	}
	
	.departments_med_app_container{
		width: 100%;
	}
	.departments_wrapper {
		width: 31%;	
	}
	
	.medical_services_wrapper {
		width: 31%;
	}
	
	.appointment_wrapper {
		width: 30%;		
	}
	
	.services_wrapper .service_4_wrapper {
		width: 49%;
		height: 378px;
		display: inline-block;
		margin: 0px .5% 20px 0;
    }
	.reserve_consultation_wrapper{
		display: none;
	}
	
	.heart, .binker, .stethoscope, .chat{
		background-size: 70px;
	}
	
	.svg_container{
	    height: 76px;	
	}
	
	.pre_services_wrapper {
        height: 206px;
		width: 100%;
		margin: 8px auto 0 auto;
	}
	.pre_service_4_wrapper{
		height: 205px;
		width: 24.5%;
		padding: 0 8px
	}
	
	.pre_service_4_wrapper h3 {
		margin: 0 0 10px 0;
		font-size: 1em;
		width: 100%;
	}
	.pre_service_4_wrapper p {
		margin: 0 0 7px 0;
		line-height: 1.2;
		font-size: .9em;
	}
	
	.pre_service_4_wrapper button {
		font-size: 2em;
		padding: 0px 12px;	
	}
}