.BannerCardContainer {
  /* border: 12px solid black; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto 100px auto;
  /* border: 2px solid red; */
  max-width: 1400px;
  width: 100%;
  height: 600px;
  background-image: url('./assets/images/medsurge.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-attachment: cover; */
  background-color: #ebebeb;

}

/* .innerAppWrapper{
  max-width: 1400px;
  background-image: url('./assets/images/bills.jpg');
} */

.App {
  /* border: 1px solid black; */
  max-width: 1000px;
  margin: 0 auto;
}
.meetTheTeamContainer{
  /* border: 1px solid black; */
  background-color: #f8f8f8;
  max-width: 1400px;
  margin: 0 auto;

}
.innerWrapper1{
  border: 11px solid black;
  display: flex;
  justify-content: center;  
  background-image: url('./assets/images/bills.jpg');
  /* max-width: 1400px; */
}

.innerWrapper2{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;  
}

.teamWrapper{
  max-width: 1280px;
  margin: 30px auto 50px auto;
}

.teamInnerWrapper{
  /* border: 1px solid blue; */
  /* max-width: 1250px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.consultationContainer{
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
